.container {
  display: flex;
  justify-content: space-between;
  margin: 0 60px 0 80px;
  width: 100%;
}

/* container left */
.description {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 431px;
  margin: 0 40px 0 0;
}

.hello {
  align-self: flex-start;
  font-size: 12px;
  display: flex;
}
.hello * {
  color: #569cd6;
}
.hello > span:nth-of-type(3) {
  margin: 0 5px 0 0;
}
.para {
  font-size: 14px;
}
.icon {
  margin: 60px 0 0 0;
}

/* container right */
.emailContainer {
  max-width: 460px;
  width: 100%;
}
.email {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.email input {
  height: 40px;
}
.email input,
textarea {
  background: #1d1f21;
  border: 1px solid #569cd6;
  width: 100%;
  padding: 0 20px;
}
.NameEmail {
  display: flex;
  justify-content: space-between;
}
.NameEmail > input {
  max-width: 220px;
}
.NameEmail > input:nth-child(1) {
  margin: 0 20px 0 0;
}
.subject {
  margin: 20px 0 0 0;
}
.messageContainer {
  margin: 20px 0 0 0;
}
.message {
  padding: 10px 20px;
  resize: none;
  height: 220px;
}

.btnContainer {
  align-self: flex-end;
  margin: 50px 0 0 0;
}
.btn {
  padding: 15px 30px;
  border: 1px solid #c36643;
  color: #c36643;
  background: none;
  font-size: 14px;
  text-transform: uppercase;
}
.btn:hover {
  cursor: pointer;
}
@media only screen and (max-width: 860px) {
  .container {
    flex-direction: column;
  }
  .icon {
    display: none;
  }
  .emailContainer {
    margin: 40px 0 0 0;
  }
  .message {
    height: 160px;
  }
}
@media only screen and (max-width: 580px) {
  .container {
    margin: 0 80px 0 40px;
  }
}
@media only screen and (max-width: 460px) {
  .hello {
    align-self: flex-start;
    font-size: 14px;
    color: #569cd6;
  }
  .para {
    font-size: 11px;
  }
  .btnContainer {
    margin: 30px 0 0 0;
  }
}
